<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul class="list-group">
  <% @ratings.each do |rating| %>
      <li class="list-group-item"> <%= rating %> <%= link_to rating.user, rating.user %> </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path, class:"btn btn-primary" %>